/* Add here all your CSS customizations */

/*Header*/
#header .header-top {
    background-color: #fff;
    border-bottom: 1px solid rgb(213, 221, 231);
    color: #000;
}

#header .top-menu li {
    /*text-transform: none;*/
    line-height: 19px;
    border-left: 1px solid rgb(213, 221, 231);
}

#header .header-top p {
    color: #000;
}

#header .top-menu li a {
    color: #000;
}

#header .header-nav-main nav > ul > li > a {
    /*text-transform: none;*/
}

#header .header-search .header-search-wrapper select {
    /*width: 200px !important;*/
}

/*Homepage bar*/
.homepage-bar {
    margin-bottom: 20px;
    background-color: #171717;
}


/* Shop Grid*/
.shop-grid [class*="col-"] {
    padding: 2px;
}

.shop-grid .row{
    margin: 0px;
}

.shop-grid .category{
    margin-bottom: 4px;
}

.shop-grid .sidebar{

}

.shop-grid .sidebar .title{
    margin-bottom: 0px;
    padding: 5px;
    padding-left: 15px;
    background: #393f4f;
    color: #FFF;
}

.shop-grid .sidebar ul{
    list-style: none;
    margin: 0;
    padding: 5px;
    padding-left: 15px;
    left: 100%;
    background: #bcbcbc;
    min-height: 241px;
}

.shop-grid ul a {
    display: block;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
    text-transform: uppercase;
    line-height: 1.5;
    margin-top: 10px;
    color: #000;
}


